[user]
	email = roman.ushakov.899@gmail.com
	name = roman_ushakov
[core]
	fileMode = false
	editor = emacs -nw
  excludesfile = ~/.gitignore

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%s (%an) %h\" --graph
  type = cat-file -t
  dump = cat-file -p<Paste>
