[user]
	email = roman.ushakov.89@inbox.ru
	name = roman_ushakov
[core]
	fileMode = false
	editor = emacs -nw
  excludesfile = ~/.gitignore

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%s (%an) %h\" --graph
  type = cat-file -t
  dump = cat-file -p<Paste>

[url "git@github.all-street:/all-street"]
    insteadOf = git@github.com:all-street